<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 center-text">
            <div class="metric">
                <span title="{{successTitle}}">{{successPercentage}}</span>
            </div>
            <span class="text-muted">Test Success</span>
        </div>
        <div class="col-md-6 center-text">
            <div class="metric">
                <span>{{duration}}</span>
            </div>
            <span class="text-muted">Duration</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 center-text">
            <div class="metric">
                <span>{{passCount}}</span>
            </div>
            <span class="text-muted">Passed</span>
        </div>
        <div class="col-md-4 center-text">
            <div class="metric">
                <span>{{failCount}}</span>
            </div>
            <span class="text-muted">Failed</span>
        </div>
        <div class="col-md-4 center-text">
            <div class="metric">
                <span>{{skipCount}}</span>
            </div>
            <span class="text-muted">Skipped</span>
        </div>
    </div>
</div>