<div class="row">
    <div class="col-md-3">
        <div class="gravatar-container">
            <img src="{{gravatarSrc}}" title="{{author}}"/>
        </div>
    </div>
    <div class="col-md-9">
        <h5>{{message}}</h5>
        <span class="text-muted">by {{author}} at revision {{revision}}</span>
    </div>
</div>