<li class="list-group-item container-fluid">
    <div class="row">
        {{#if gravatarEnabled}}
            <div class="col-md-2">
                <div class="gravatar-container">
                    <a href="../../../user/{{authorId}}">
                        <img src="{{gravatarSrc}}" title="{{author}}" alt="Gravatar image of the change author."/>
                    </a>
                </div>
            </div>
        {{/if}}
        <div class="{{#if date}}{{#if gravatarEnabled}}col-md-7{{else}}col-md-9{{/if}}{{else}}col-md-12{{/if}}">
            <h5>{{message}}</h5>
            <span class="text-muted">by <a
                    href="../../../user/{{authorId}}">{{author}}</a> at revision <a href="{{changeHref}}">
                <small>{{revision}}</small>
            </a></span>
        </div>
        {{#if date}}
            <div class="col-md-3">
                <span class="text-muted pull-right">{{date}}</span>
            </div>
        {{/if}}
    </div>
</li>
