<tr>
    <td>
        {{#if linkHref}}
            <a href="{{linkHref}}">{{key}}</a>
        {{else}}
            {{key}}
        {{/if}}
    </td>
    <td>{{highCount}}</td>
    <td>{{normalCount}}</td>
    <td>{{lowCount}}</td>
    <td>{{totalOriginCount}}</td>
</tr>